[Unit]
Description=Arista platform daemon
After=sonic-platform-arista.service
ConditionKernelCommandLine=Aboot

[Service]
User=root
Restart=always
RestartSec=30

ExecStart=/usr/bin/arista --syslog INFO -l /var/log/arista.log daemon

[Install]
WantedBy=multi-user.target
