[Unit]
Description=Read Arista reboot cause
After=sonic-platform-arista.service
Before=process-reboot-cause.service
ConditionKernelCommandLine=Aboot

[Service]
User=root
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/bin/arista --syslog -l /var/log/arista.log reboot-cause

[Install]
WantedBy=multi-user.target
