[Unit]
Description=Disable the watchdog after boot
After=swss.service
After=opennsl-modules-4.9.0-7-1-amd64.service
ConditionKernelCommandLine=sid=Gardena

[Service]
User=root
Type=oneshot
RemainAfterExit=true

ExecStart=
ExecStart=/usr/bin/arista watchdog --stop

ExecStop=

[Install]
WantedBy=multi-user.target
