# kernel module build
*.a
*.o
*.so
*.o.d
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
Module.symvers
modules.order

# debian packaging
*.debhelper
*.log
DEBIAN
.tmp_versions
.finished.build
*.substvars

# python
*.pyc
__pycache__/
/build
/*.egg-info
/venv*
/.pybuild

# package related rules
/debian/files
/debian/drivers-sonic-platform-arista/
/debian/python-sonic-platform-arista/
/debian/python3-sonic-platform-arista/
/debian/sonic-platform-arista/
