[Unit]
Description=Arista reboot cause processing
After=platform-arista-pmon.service
Requires=platform-arista-pmon.service
Before=process-reboot-cause.service
PartOf=platform-arista.target
ConditionKernelCommandLine=Aboot

[Service]
Type=oneshot
RemainAfterExit=true

ExecStart=/usr/bin/arista --syslog -l /var/log/arista.log reboot-cause

[Install]
RequiredBy=platform-arista.target
