[Unit]
Description=Arista platform daemon
After=platform-arista-pmon.service
Requires=platform-arista-pmon.service
PartOf=platform-arista.target
ConditionKernelCommandLine=Aboot

[Service]
Restart=always
RestartSec=30

ExecStart=/usr/bin/python3 /usr/bin/arista --syslog -l /var/log/arista-daemon.log daemon

[Install]
RequiredBy=platform-arista.target
