[Unit]
Description=Arista late platform initialization
After=platform-arista-swss.service
Requires=platform-arista-swss.service
Before=pmon.service
PartOf=platform-arista.target
ConditionKernelCommandLine=Aboot

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/arista --syslog -l /var/log/arista.log setup --late

[Install]
RequiredBy=platform-arista.target
RequiredBy=pmon.service
