#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

#export DH_VERBOSE = 1

export INSTALL_MOD_DIR:=extra

%:
	dh $@ --with python2,python3,systemd --buildsystem=pybuild

override_dh_auto_build:
	make -f build.mk build

override_dh_auto_install:
	make -f build.mk install-py2 \
	   DESTDIR=$(CURDIR)/debian/python-$(DEB_SOURCE) \
	   PY_INSTALL_ARGS=--install-layout=deb
	make -f build.mk install-py3 \
	   DESTDIR=$(CURDIR)/debian/python3-$(DEB_SOURCE) \
	   PY_INSTALL_ARGS=--install-layout=deb
	make -f build.mk install-drivers \
	   DESTDIR=$(CURDIR)/debian/drivers-$(DEB_SOURCE)
	make -f build.mk install-fs \
	   DESTDIR=$(CURDIR)/debian/$(DEB_SOURCE)

override_dh_clean:
	make -f build.mk clean
	dh_clean

override_dh_auto_test:
	make -f build.mk test
